body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f7f9;
  background-image: url('assets/entrance_graphic.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-attachment: fixed;
  background-size: 25%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 28px;
  font-weight: 700;
}

h2 {
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  color: #200a74;
}

p {
  font-size: 16px;
}

input {
  font-size: 16px;
}

label {
  font-size: 16px;
  color: #200a74;
  opacity: 0.5;
}
